#### Column Names

##### 1. target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)

##### 2. ids: The id of the tweet ( 2087)

##### 3. date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)

##### 4. flag: The query (lyx). If there is no query, then this value is NO_QUERY.

##### 5. user: the user that tweeted (robotickilldozr)

##### 6. text: the text of the tweet (Lyx is cool)

In [5]:
import pandas as pd
import numpy as np

# Define the column names based on the dataset structure
column_names = ['target', 'ids', 'date', 'flag', 'user', 'text']

# Read the CSV file with the correct column names
df = pd.read_csv('tweets.csv', names=column_names, encoding='ISO-8859-1')

missing_values = df.isnull().sum()
print(missing_values) # No missing values

df.head()

target    0
ids       0
date      0
flag      0
user      0
text      0
dtype: int64

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."